body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #553055;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;

}

.navbar{
  padding: 10px 20px ;
  text-align: center;
  background: #6d3d6d;
}
.navbar h1{
margin: 10px 0;
}

.book-list{
  padding: 20px 25px;
   background: #bd32bd;
}

.book-list ul {
  padding-left: 0;
}

ul li{
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color:#ec44a0 ;
  padding: 10px 10px;
  border-radius:10px;
  /* box-shadow:5px 5px 8px rgba(85, 84, 84,0.2); */
  transition: all linear 0.2s;
}

ul li:hover{
  box-shadow:5px 5px 8px rgba(85, 84, 84,0.3);
}

ul li:not(:nth-child(1)){
  margin-top: 10px;
}

ul li .title{
  text-transform: capitalize;
}

ul li .author{
  margin-top: 5px;
  text-transform: capitalize;
}

ul li .btn{
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(245, 49, 49);
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  border: 0;
  box-shadow: 2px 3px 5px rgba(61, 57, 57,.2);
  transition: all linear .2s;

}
ul li .btn:hover{
  box-shadow: 2px 3px 5px rgba(61, 57, 57,.5);
  transform: scale(1.1);
}

form {
  margin-top: 30px;
}

form .forma {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
form .forma.bir{
  margin-top: 15px;
}

form .forma label{
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

form .forma input{
  width: 450px;
  height: 35px;
  font-size: 17px;
  border-radius:10px;
  border: 0;
  padding-left: 10px;
}
form .forma input:focus{
  outline: none;
}

form .btnAdd {
  margin-top: 20px;
  padding: 6px 20px;
  font-size: 18px;
  color: white;
  background-color:rgb(245, 49, 49);
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}